body {
  background-color: #f4f1de;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #3d405b;
  padding: 15px;
}

h1 {
  background-color: #f2cc8f;
  height: 50px;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  padding: 1em;
  border-style:ridge;
  border-color: #e07a5f;
  border-width: 30px;
  border-radius: 15px;
}

h3 {
  background-color: #81b29a;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  height: 35px;
  margin: 15px;
  border-radius: 15px;
}

section {
 padding: 1em;
 margin: 20px;
}

#bio {
  text-align: center;
}

img {
  height: 350px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

ul {
  list-style-type: circle;
  padding-left: 10px;
}
